/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";

// @import "~@swimlane/ngx-datatable/index.css";
// @import "~@swimlane/ngx-datatable/themes/material.scss";
// @import "~@swimlane/ngx-datatable/assets/icons.css";

@font-face {
  font-family: "TipperaryeTextW01-Regular";
  src: url("./assets/fonts/37301e8d54d356c2f03e664266f657ea.eot");
  src: url("./assets/fonts/37301e8d54d356c2f03e664266f657ea.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/37301e8d54d356c2f03e664266f657ea.woff2") format("woff2"),
    url("./assets/fonts/37301e8d54d356c2f03e664266f657ea.woff") format("woff"),
    url("./assets/fonts/37301e8d54d356c2f03e664266f657ea.ttf") format("truetype"),
    url("./assets/fonts/37301e8d54d356c2f03e664266f657ea.svg#TipperaryeTextW01-Regular") format("svg");
}

@font-face {
  font-family: "TipperaryeTextW01-Bold";
  src: url("./assets/fonts/5474623336cd9df3cf26cdb25672f446.eot");
  src: url("./assets/fonts/5474623336cd9df3cf26cdb25672f446.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/5474623336cd9df3cf26cdb25672f446.woff2") format("woff2"),
    url("./assets/fonts/5474623336cd9df3cf26cdb25672f446.woff") format("woff"),
    url("./assets/fonts/5474623336cd9df3cf26cdb25672f446.ttf") format("truetype"),
    url("./assets/fonts/5474623336cd9df3cf26cdb25672f446.svg#TipperaryeTextW01-Bold") format("svg");
}

/* You can add global styles to this file, and also import other style files */
/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
  font-family: "TipperaryeTextW01-Regular", Arial, Helvetica, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TipperaryeTextW01-Bold", Arial, Helvetica, sans-serif;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: map-get($coco-bambu-colors, primary) !important;
  border-color: map-get($coco-bambu-colors, primary) !important;
  max-width: 280px;
  border-radius: 0;
  margin: 0 auto;
  font-weight: bold;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/* Custom media queries */
@media screen and (max-width: 992px) {
  .push-right {
    .sidebar {
      left: 235px !important;
    }
  }
}
